html, body {
    max-height: 100%;
    position: relative;
    background-color: #111111;
    color: #efefef;
    margin: 0;
    padding: 0;
}

body, body * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
