navigation-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    transition: width .2s ease-in-out;
}

navigation-wrapper .user,
navigation-wrapper a,
navigation-wrapper a:visited {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 35px;
    height: 35px;
    padding: 0 12px;
    font-size: 14px;
    color: var(--main-text-color);
    text-decoration: none;
    text-align: left;
    transition: all .2s ease-in-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

navigation-wrapper a {
    color: rgba(var(--main-link-color-rgb), .6);
}

navigation-wrapper a:hover,
navigation-wrapper a:active,
navigation-wrapper a:focus,
navigation-wrapper a.current{
    color: rgba(var(--main-link-highlighted-color-rgb), 1);
    cursor: pointer;
    outline: 0;
}

navigation-wrapper .user span,
navigation-wrapper a span {
    padding-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

navigation-wrapper .user {
    padding: 0;
    display: block;
    height: auto;
    overflow: visible;
}

navigation-wrapper .userNameWrapper {
    position: relative;
    overflow: visible;
}

navigation-wrapper .renameUserWrapper {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    background: var(--tooltip-background-color);
    padding: 3px 6px;
    z-index: 999;
}

navigation-wrapper .renameUserWrapper.hidden {
    display: none;
}

navigation-wrapper .renameUserWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

navigation-wrapper .renameUserWrapper .name {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    line-height: 35px;
    height: 35px;
    font-size: 12px;
    border: 1px solid var(--tooltip-border-color);
    border-right: 0;
    background: transparent;
    border-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: var(--main-text-color);
}

navigation-wrapper .renameUserWrapper .button {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    line-height: 35px;
    height: 35px;
    font-size: 12px;
    border: 1px solid var(--tooltip-button-border-color);
    background: rgba(var(--tooltip-button-background-color-rgb), 0.05);
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--main-text-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

navigation-wrapper .renameUserWrapper .button:hover {
    background: rgba(var(--tooltip-button-background-color-rgb), 0.2);
}

navigation-wrapper .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

navigation-wrapper .bottom a {
    min-width: 100%;
}

navigation-wrapper.collapsed {
    width: 40px;
}

navigation-wrapper.collapsed a {
    height: 35px;
}

navigation-wrapper.collapsed .user span,
navigation-wrapper.collapsed a span {
    display: none;
}

@media (max-device-width: 480px) {
    navigation-wrapper {
        width: 40px;
    }

    navigation-wrapper .user span,
    navigation-wrapper a span {
        display: none;
        height: 0;
    }

    navigation-wrapper .bottom .menuToggle {
        display: none;
    }
}

@media (min-device-width: 1024px) {
    navigation-wrapper a {
        line-height: 45px;
        height: 45px;
    }
}
