post-page {
    display: block;
    padding: 20px 12px;
    font-size: 14px;
}

post-page .sentDate {
    margin-bottom: 6px;
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 100;
    background-color: rgba(var(--main-link-highlighted-color-rgb), 0.01);
    border-radius: 3px;
}

post-page .sentDate span {
    margin-left: 6px;
}

post-page .tags {
    margin-bottom: 12px;
}

post-page .tags tag-inline {
    margin-right: 6px;
}

post-page .postContent {
    padding: 6px 12px;
    background-color: rgba(var(--main-link-highlighted-color-rgb), 0.05);
    border-radius: 3px;
}

post-page .owner {
    margin-top: 12px;
    font-weight: 400;
}

post-page .commentSection {
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px solid rgba(var(--main-link-highlighted-color-rgb), 0.1);
}
