post-tags-input {
    display: block;
}

post-tags-input.focused {
    outline: 0;
}

post-tags-input .tags {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 3px 6px;
    background: var(--main-input-background-color);
    border-radius: 3px;
    border: 1px solid rgba(var(--main-link-highlighted-color-rgb), 0.2);
}

post-tags-input.focused .tags {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

post-tags-input .tags .tagElement {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    padding: 0;
    line-height: 20px;
    height: 20px;
    background: rgba(var(--main-link-highlighted-color-rgb), 0.05);
}

post-tags-input .tags .tagElement .remove {
    display: flex;
    height: 100%;
    width: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

post-tags-input .tags .tagElement .label {
    height: 100%;
    padding-left: 6px;
}

post-tags-input .tags .tagElement .remove .icon {
    display: block;
    width: 14px;
    height: 14px;
}

post-tags-input .tags .tagElement .remove .icon polygon {
    fill: currentColor;
    stroke-width: 4px;
    stroke: currentColor;
}

post-tags-input .tags .input {
    flex: 1 1 0;
    display: inline-block;
    min-width: 320px;
    height: 20px;
    line-height: 20px;
    background: transparent;
    border: 0;
    color: inherit;
}

post-tags-input.focused .tags .input {
    outline: 0;
}

post-tags-input.focused .tags .results {
    display: block;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid rgba(var(--main-link-highlighted-color-rgb), 0.2);
}

post-tags-input .tags .results {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    background: rgba(var(--main-button-background-color-rgb), 0.05);
    box-shadow: 2px 4px 4px rgba(var(--main-link-highlighted-color-rgb), 0.2);
}

post-tags-input .tags .results .tagResult {
    display: block;
    line-height: 20px;
    padding: 0 6px;
    cursor: pointer;
}

post-tags-input .tags .results .tagResult:hover {
    background: rgba(var(--main-link-highlighted-color-rgb), 0.05);
}
