post-preview {
    display: block;
    margin-bottom: 12px;
    padding: 3px 9px;
    background-color: rgba(var(--main-link-highlighted-color-rgb), 0.05);
    border-radius: 3px;
}

post-preview .tags {
    padding-bottom: 6px;
    margin-bottom: 3px;
    font-size: 12px;
    border-bottom: 1px solid rgba(var(--main-link-highlighted-color-rgb), 0.1);
}

post-preview.noTags .tags {
    display: none;
}

post-preview .tags tag-inline {
    margin-right: 6px;
}

post-preview .content {
    padding: 6px 0;
    font-size: 12px;
}

post-preview .meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 10px;
    margin-top: 3px;
    border-top: 1px solid rgba(var(--main-link-highlighted-color-rgb), 0.1);
    padding-top: 3px;
}

post-preview .meta .owner {
    flex: 1 1 0;
    padding-left: 12px;
}

post-preview .meta .tags {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
}

post-preview .meta .tags tag-inline {
    margin-left: 6px;
}

post-preview.loading .sent,
post-preview.loading .content {
    display: none;
}

post-preview.loading .loadingIndicator {
    display: block;
    font-size: 12px;
}

post-preview .loadingIndicator {
    display: none;
}

post-preview a {
    color: inherit;
}

post-preview .contentToggleWrapper, post-preview.long.showAll .contentToggleWrapper {
    display: none;
}

post-preview.long .contentToggleWrapper {
    display: block;
}

post-preview.long .content {
    max-height: 100px;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

post-preview.long .content::after {
    display: block;
    position: absolute;
    bottom: 0;

}

post-preview.long .contentToggle {
    position: relative;
    display: block;
    margin: -32px auto 3px auto;
    line-height: 30px;
    width: fit-content;
    padding: 0 20px;
    color: var(--main-button-text-color);
    background: rgba(var(--main-input-background-color-rgb), 1);
    border-radius: 16px;
    font-size: 12px;
    cursor: pointer;
    z-index: 1;
}

post-preview.long .contentShadow {
    box-shadow: 0 -4px 6px var(--main-background-color);
    width: 100%;
    height: 4px;
    position: relative;
    z-index: 1;
}
