post-list {
    position: relative;
    display: block;
    padding: 12px 6px ;
    overflow: auto;
}

post-list > .notification {
    display: none;
}

post-list > .end {
    height: 0;
    width: 100%;
}

post-list > .end.loading {
    height: auto;
}

post-list > .end.loading .indicator {
    display: block;
}

post-list > .end .indicator {
    display: none;
    text-align: center;
    font-size: 12px;
}
